<!DOCTYPE html>
<html ng-app="JobApp">
  <head>
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
  </head>
  <body ng-controller="applicantController">
	  
    <h1>Applicants</h1>
    <div class="container">      
      <ul ng-repeat="applicant in applicants">
        <li>Name: {{applicant.name}}</li>
        <li>Bio: {{applicant.bio}}</li>
        <li>Skills: {{applicant.skills}}</li>
        <li>Years Experience: {{applicant.yearsExp}}</li>
        <li>Why Applied: {{applicant.why}}</li>
        <li>If this applicant is not an appropriate fit: <button ng-click="deleteBtn(applicant)">Delete Applicant</button>
      </ul>
    </div>
    <p><a href="/">Go Home</a></p>
	  
	<script src="/javascripts/main.js"></script>

  </body>
</html>